<div *ngIf="users$; else noData" class="container">
  <div class="d-flex justify-content-center mt-5">
    <h3>Git Users List</h3>
  </div>
  <div *ngIf="!loadingFlag$" class="d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
  <ng-container>
    <div class="justify-content-center d-flex flex-wrap">
      <ng-container>
        <div class="m-5" *ngFor="let user of users$ | async">
          <mat-card matRipple class="user-card cursor-pointer" (click)="navigateToUser(user.login)">
            <mat-card-header>
              <img mat-card-avatar src="{{user.avatar_url}}" alt="Photo of a Shiba Inu">
              <div mat-card-title>{{user.login}}</div>
            </mat-card-header>
          </mat-card>
        </div>
      </ng-container>
    </div>


    <div class="d-flex justify-content-end mr-5">
      <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </ng-container>

</div>
<ng-template #noData>
  <div class="h-100 flex-perfect-center">
    <h3>Here must be user data!</h3>
  </div>
</ng-template>