<button class="mat-raised-button mt-2 ml-2" routerLink="/users">home</button>

<div *ngIf="(contributors$ | async).length > 0; else noData" class="container">
  <div class="d-flex justify-content-center mt-5">
    <h3><b>{{this.route.snapshot.params.repository}}</b> Contributors List</h3>
  </div>

  <app-users-list [users]="contributors$ | async" (onNavigate)="onNavigate($event)"></app-users-list>

</div>
<ng-template #noData>
  <div class="h-100 flex-perfect-center">
    <div class="d-flex justify-content-center mt-5">
      <h3>Git Users List</h3>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="../../../../../assets/svg/no-data.svg" alt="no-data svg">
  </div>

</ng-template>